/*-------------------------------------------------------------*/
/*------------------------- RESPONSIVE ------------------------*/
/*-------------------------------------------------------------*/
@media (max-width: 1200px){
    .header__h1__main{
        font-size: 1.5rem;
    }
    
    .header__h1__trailing{
        font-size: 1rem;
    }

    .header__nav__menu__item{
        font-size: 0.9rem;
    }

    .header__nav__menu__item{
        margin-right: 0.5rem;
        font-style: italic;
        font-weight: 400;
    }

    .header__nav__menu__language{
        margin-right: 1rem;
        margin-left: 1.5rem;
        font-size: 0.8rem;
    }
    
    .header__nav__menu__language__sel{
        font-size: 0.8rem;
        padding: 0.1 0.15rem;
    }

    .root__body{
        width: 80%;
    }

    .root__body__h1{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.8rem;
    }

    .about__img{
        width: 250px;
        height: 250px;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .curriculum__h2{
        font-size: 1.3rem;
    }

    .curriculum__h3{
        font-size: 1.1rem;
    }

    .root__body__project{
        width: 80%;
    }

    .projects__project__title{
        font-size: 1.2rem;
    }

    .projects__project__description{
        font-size: 0.9rem;
    }

}

@media (max-width: 992px){
    .header__h1__main{
        font-size: 2rem;
    }

    .header__h1__trailing{
        display: none;
    }

    .header__nav__menu__item__a{
        margin-right: 0.5rem;
    }

    .header__nav__menu__language{
        margin-left: 0.5rem;
    }

    .root__body{
        width: 90%;
    }

    .root__body__h1{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }

    .about__img{
        width: 200px;
        height: 200px;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .about__paragraph,
    .about__list__item{
        font-size: 0.9rem;
    }

    .curriculum__h2{
        font-size: 1.1rem;
    }

    .curriculum__h3{
        font-size: 1rem;
    }

    .curriculum__paragraph,
    .curriculum__paragraph__list__line{
        font-size: 0.9rem;
    }

    .root__body__project{
        width: 90%;
    }

    .projects__project__title{
        font-size: 1.1rem;
    }

    .projects__project__description{
        font-size: 0.8rem;
    }

    .project__slider__container,
    .project__slider{
        width: 600px;
    }

    .project__slider__img{
        transform: unset;
    }

    .project__detail__h2{
        font-size: 1.1rem;
    }

    .project__description{
        font-size: 0.9rem;
    }
}

@media (max-width: 768px){
    .header{
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: flex-start;
    }

    .header__h1{
        margin-top: 0.5rem;
        display: flex;
    }

    .header__h1__trailing{
        display: block;
        line-height: 3rem;
        margin-left: 0.25rem;
    }

    .header__nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .header__nav__menu{
        margin-left: 2rem;
    }

    .header__nav__menu__language__sm{
        display: inline-block;
        margin-right: 1rem;
    }

    .header__nav__menu__language{
        display: none;
    }

    .project__slider__container,
    .project__slider{
        width: 500px;
    }    
}

@media (max-width: 700px){
    .header{
        height: 5rem;
    }

    .header__h1{
        margin-left: 1rem;
    }
    
    .header__h1__main{
        font-size: 1.5rem;
        color: var(--dark-blue);
    }
    
    .header__h1__trailing{
        font-size: 1rem;
        line-height: 2.2rem;
    }

    .header__nav__menu{
        margin-left: 0.8rem;
    }
    
    .header__nav__menu__item{
        font-size: 0.9rem;
    }

    .header__nav__menu__item{
        margin-right: 0.5rem;
    }

    .header__nav__menu__language__sm{
        font-size: 0.8rem;
    }
    
    .header__nav__menu__language__sel__sm{
        font-size: 0.8rem;
        padding: 0.1 0.15rem;
    }

    #root{
        min-height: 100vh;
        margin: 0;
        padding: 0;        
    }

    .root__body{
        width: 100%;
        min-height: 100vh;
        margin-top: 0;
    }

    .root__body__about{
        flex-direction: column;
    }

    .about__img{
        margin-left: 1rem;
    }

    .root__body__project{
        width: 100%;
        min-height: 100vh;
        margin: 0;
    }
}

@media (max-width: 560px){
    .header{
        height: 6.3rem;
    }

    .header__nav{
        flex-direction: column;
        align-items: flex-start;        
    }

    .header__nav__menu__language__sm{
        margin: 0.5rem 0 1rem 1rem;
    }

    .root__body{
        padding: 1rem;
    }

    .about__img,
    .about__paragraph{
        margin: 0.5rem;
    }

    .curriculum__h3,
    .curriculum__paragraph{
        margin-left: 0.5rem;
    }

    .curriculum__paragraph__list{
        margin-left: 0.8rem;
    }

    .projects__project__title{
        margin-top: 1rem;
    }

    .projects__img__row{
        grid-template-columns: 1fr;
    }

    .project__slider__sm{
        display: flex;
        justify-content: start;
        overflow: hidden;    
    }

    .project__slider{
        display: none;
    }

    .project__slider__container,
    .project__slider-sm{
        width: 360px;
    }

    .project__slide{
        top: 50%;
        width: 30px;
        height: 30px;
    }

    .project__left__arrow,
    .project__right__arrow{
        font-size: 1.8rem;
    }

    #todolist__slider__prev{
        left: 12px;
    }
    
    #todolist__slider__next{
        right: 12px;
    }

    .project__left__arrow,
    .project__right__arrow{
        z-index: 20;
        top: 10%;
    }

    .project__left__arrow{
        left: 30%;
    }

    .project__right__arrow{
        right: 25%;
    }
}

@media (max-width: 412px){
    .header__h1__main{
        font-size: 1.3rem;
    }

    .header__h1__trailing{
        font-size: 0.9rem;
        line-height: 1.9rem;
    }

    .header__nav__menu__item__a{
        font-size: 0.7rem;
    }

    .header__nav__menu__language__sm,
    .header__nav__menu__language__sm__sel{
        padding: 0;
        font-size: 0.75rem;
    }

    .root__body__h1{
        font-size: 1.4rem;
    }

    .about__paragraph,
    .about__list__item,
    .curriculum__paragraph,
    .curriculum__paragraph__list,
    .curriculum__paragraph__list__line,
    .project__description,
    .project__list__item{
        font-size: 0.8rem;
    }

    .about__img{
        width: 150px;
        height: 150px;
    }

    .curriculum__h2,
    .project__detail__h2{
        font-size: 1rem;
    }

    .curriculum__h3{
        font-size: 0.9rem;
    }
    
    .project__slider__container,
    .project__slider-sm{
        width: 250px;
        height: 150px;
    }

    .project__slide{
        top: 50%;
        width: 20px;
        height: 20px;
    }

    .project__left__arrow,
    .project__right__arrow{
        font-size: 1rem;        
    }

    #todolist__slider__prev{
        left: 10px;
    }
    
    #todolist__slider__next{
        right: 10px;
    }

    .project__left__arrow,
    .project__right__arrow{
        z-index: 20;
        top: 15%;
    }

    .project__left__arrow{
        left: 30%;
    }

    .project__right__arrow{
        right: 25%;
    }
}